.inner_content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    .media {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: center;

        .column_wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            align-content: flex-start;
            width: 100%;

            .content_wrapper {
                max-width: 1400px;
                display: flex;
                align-items: flex-start;
                align-content: flex-start;
                padding: 30px 40px;
                flex-wrap: wrap;

                .title {
                    width: 100%;
                    margin-bottom: 20px;

                    h2 {
                        font-size: 1.6em;
                        font-weight: 600;
                        text-transform: capitalize;
                    }
                }

                .content {
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    align-content: flex-start;
                    flex-wrap: wrap;

                    @media (max-width: 600px) {
                        flex-direction: column;
                    }

                    .filter_container {
                        .accordion {
                            margin-bottom: 12px;
                            border: 1px solid #e3e3e3;
                            box-shadow: 0px 2px 8px #0000001a;
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                            border-bottom-left-radius: 8px;
                            border-bottom-right-radius: 8px;
                            min-width: 260px;
                            width: 260px;

                            &::before {
                                display: none;
                            }

                            h2 {
                                font-size: 1.1em;
                                font-weight: 600;
                            }

                            h3 {
                                display: inline-flex;
                                align-items: center;
                                width: 100%;
                                font-size: 1em;
                                font-weight: 300;
                                margin-bottom: 10px;
                                color: #000;
                            }
                        }

                        .multi_select {
                            margin-top: -8px;

                            li {
                                display: inline-flex;
                                border: 1px solid #9e9e9e;
                                border-radius: 14px;
                                padding: 4px 12px;
                                font-size: 0.9em;
                                margin-right: 6px;
                                margin-top: 8px;
                                cursor: pointer;

                                &:hover,
                                &.active {
                                    background-color: #01b4e4;
                                    color: #fff;
                                    border-color: #01b4e4;
                                }
                            }
                        }
                    }

                    .right_media_container {
                        display: flex;
                        flex-wrap: wrap;
                        flex: 0 1 auto;
                        width: calc(100vw - 80px - 268px);
                        max-width: calc(1400px - 80px - 268px);

                        @media (min-width: 600px) {
                            padding-left: 30px;
                        }

                        .panel_results {
                            border-top: none;
                            padding-top: 0;
                            width: 100%;
                            display: block;
                            padding: 30px 0;

                            &:first-of-type {
                                border-top: none;
                                padding-top: 0;
                            }

                            &:last-of-type {
                                padding-bottom: 0;
                            }

                            .media_item_results {
                                margin-top: 0;

                                @media (min-width: 600px) {
                                    margin-top: -30px;
                                }

                                .page_wrapper {
                                    display: flex;
                                    justify-content: space-between;
                                    flex-wrap: wrap;
                                    width: 100%;
                                }

                                .load_more {
                                    font-family: inherit;
                                    margin-top: 30px;
                                    background: #01b4e4;
                                    height: 50px;
                                    font-size: 1.5em;
                                    font-weight: 700;
                                    border-radius: 8px;
                                    &:hover {
                                        color: #0a1526;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.inner_padding {
    padding: 14px 16px 16px;
}
