.scroll__wrap {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
    margin-top: 2rem;
}

.inner__column {
    height: auto;
    width: 100%;
    max-width: 1300px;
    min-height: 355px;
    overflow-x: scroll;
    overflow-y: hidden;
    transition: height 0.5s linear;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 20px 0;
    white-space: nowrap;
}

.bg-image {
    background-image: url("../../assets/section-bg.png");
}

.inner__column::after {
    content: "";
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 100%);
    will-change: opacity;
    pointer-events: none;
    transition: linear 0.3s;
    opacity: 1;
}

.movie-header-container {
    display: flex;
    padding: 0 40px;
}
