.title-bar {
    background-color: #000;
    border-color: #000;
    color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .title {
        font-size: 1.25rem;
        line-height: 1.5;
        text-overflow: ellipsis;
    }

    .close-button {
        width: 16px;
        height: 16px;
        padding: 6px;
        color: #ced3db;

        &:hover {
            opacity: 0.75;
        }
    }
}

.player {
    width: 100%;
    height: calc(100% - 62px);
}
