.appbar {
    background: rgb(3, 37, 65) !important;
}

.toolbar {
    justify-content: flex-start;

    .hamburger {
        margin-right: 2rem;
    }
}

.nav-items {
    display: none;
    list-style: none;
    margin-left: 16px;
    cursor: pointer;
}

.nav-item {
    padding: 8px;
    margin-right: 14px;
}

@media (min-width: 745px) {
    .toolbar {
        justify-content: center;

        .hamburger {
            display: none;
        }
    }
    .nav-items {
        display: flex;
    }
}
