:root {
    --opacity: 1;
}

.cast_section {
    width: 100%;
    padding-bottom: 30px;

    h3 {
        font-weight: 600;
        font-size: 1.4em;
        margin-bottom: 20px;

        @media (max-width: 745px) {
            font-size: 1.2em;
        }
    }

    ol.people {
        overflow-y: hidden;
        overflow-x: scroll;
        padding-bottom: 10px;
        list-style-type: none;
        list-style-position: inside;
        display: flex;
        margin-left: -10px;
        margin-top: -10px;

        &::after {
            content: "";
            width: 60px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 100%);
            will-change: opacity;
            pointer-events: none;
            transition: linear 0.3s;
            opacity: var(--opacity);
        }

        li.card {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
            margin-right: 4px;
            border: 1px solid #e3e3e3;
            padding-bottom: 10px;
            border-radius: 8px;
            overflow: hidden;
            min-width: 140px;
            width: 140px;
            background-color: #fff;
            box-shadow: 0 2px 8px #0000001a;

            .img_link {
                min-width: 138px;
                width: 138px;
                height: 175px;
                background-color: #dbdbdb;
                display: flex;
                align-content: center;
                align-items: center;
            }

            .img-container {
                min-width: 138px;
                width: 138px;
                height: 175px;
                display: grid;
                place-items: center;
                background: #dbdbdb;
            }

            img {
                width: 100%;
                object-fit: contain;
            }

            .name {
                padding: 10px 10px 0;
                font-size: 1em;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                cursor: pointer;

                &:hover {
                    color: #00000080;
                }
            }

            .character {
                padding: 0 10px;
                font-size: 0.9em;
            }

            .no_image {
                background-color: #dbdbdb;
                transform: scale(0.5);
            }
        }
    }

    .scroll_fade {
        position: relative;
        top: 0;
        left: 0;
    }
}

.season_section {
    width: 100%;
    padding: 30px 0;
    border-top: 1px solid #d7d7d7;

    h3 {
        font-weight: 600;
        font-size: 1.4em;
        margin-bottom: 20px;

        @media (max-width: 745px) {
            font-size: 1.2em;
        }
    }

    .season_card {
        border: 1px solid rgba(227, 227, 227, 1);
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0 2px 8px #0000001a;

        .flex {
            display: flex;

            .poster {
                display: block;
                min-width: 130px;
                width: 130px;
                height: 195px;
                background-color: #dbdbdb;
                background-size: 50%;

                @media (max-width: 386px) {
                    display: none;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .content {
                width: 100%;
                padding: 20px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                h2 {
                    font-size: 1.5em;
                    margin: 0 0 4px 0;
                    font-weight: 600;
                    cursor: pointer;

                    &:hover {
                        color: #00000080;
                    }
                }

                h4 {
                    margin-top: 0;
                    margin-bottom: 8px;
                }

                .season_overview {
                    padding-top: 8px;

                    p {
                        line-height: 1.4;
                    }
                }
            }
        }
    }
}

.recommendations {
    width: 100%;
    padding-top: 30px;
    border-top: 1px solid #d7d7d7;

    h3 {
        font-weight: 600;
        font-size: 1.4em;
        margin: 0 0 20px 0;

        @media (max-width: 745px) {
            font-size: 1.2em;
        }
    }

    .scroll_wrap {
        position: relative;
        top: 0;
        left: 0;

        .scroll {
            overflow-y: hidden;
            overflow-x: scroll;
            white-space: nowrap;
            padding-bottom: 10px;

            &::after {
                content: "";
                transition: linear 0.3s;
                width: 60px;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 100%);
                will-change: opacity;
                pointer-events: none;
                opacity: var(--opacity);
            }

            .item {
                display: inline-block;
                float: none;
                width: 250px;
                margin: 0 15px 0 0;

                .img-container {
                    width: 250px;
                    height: 141px;
                    line-height: 0;
                    overflow: hidden;

                    &:hover .meta {
                        opacity: 1;
                    }

                    img {
                        position: relative;
                        top: 0;
                        left: 0;
                        width: 250px;
                        height: 141px;
                        border-radius: 8px;
                    }
                }

                .bottom_flex {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 4px;
                    margin-bottom: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 1.2em;

                    .title {
                        font-weight: 400;
                        font-size: 1em;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: inline-block;
                        padding-right: 20px;
                        cursor: pointer;
                    }

                    .vote_average {
                        padding-top: 0;
                        margin-right: 0;
                        display: inline-flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}

.column_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    .content_wrapper {
        max-width: 1400px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        padding: 30px 40px;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            flex-direction: column;
            padding: 20px;
        }

        div.white_column {
            background-color: #fff;
            width: calc(100vw - 80px - 268px);
            max-width: calc(1400px - 80px - 268px);
            display: flex;
            flex-wrap: wrap;
            flex: 0 1 auto;
            padding-right: 30px;

            @media (max-width: 768px) {
                width: 100%;
                max-width: calc(100vw - 40px);
                padding-right: 0;
            }
        }
    }
}

.grey_column {
    min-width: 260px;
    width: 260px;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 768px) {
        width: 100%;
        min-width: 0;
        padding-top: 30px;
    }

    .split_column {
        section {
            margin-bottom: 30px;
            width: 100%;

            h4 {
                font-size: 1.1em;
                font-weight: 600;
                margin-bottom: 10px;
            }
        }
    }

    div.column p {
        margin: 0 0 20px 0;
        font-size: 1em;

        & strong {
            display: block;
            font-weight: 600;
        }
    }
}

.keywords_section {
    h4 {
        font-size: 1.1em;
        margin-bottom: 10px;
        font-weight: 600;
    }

    .keywords {
        li {
            margin-right: 5px;
            margin-bottom: 10px;
            line-height: 24px;
            font-size: 14px;
            white-space: nowrap;
            display: inline-block;
        }
    }

    .keyword {
        background-color: #0000001a;
        border: 1px solid #d7d7d7;
        color: #000;
        padding: 4px 10px;
        border-radius: 4px;
        cursor: pointer;
    }
}

.no_bottom_spacing {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.networks {
    margin-bottom: 20px;

    li {
        display: flex;
        margin: 0;
        font-size: 1.2em;
    }

    li + li {
        margin-top: 8px;
    }
}

.meta {
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    top: -40px;
    left: 0;
    height: 40px;
    width: 100%;
    z-index: 1;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;

    .release_date {
        font-size: 1em;
        display: inline-flex;
        align-items: center;

        .calendar {
            background-image: url("../../assets/icons/icon-calender.svg");
            margin-right: 4px;
            position: relative;
            top: 0;
            left: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: 1em;
            min-height: 1em;
            width: 1em;
            height: 1em;
            line-height: inherit;
            background-position: center center;
            background-repeat: no-repeat;
            color: inherit;
        }
    }
}

.social {
    width: 100%;
    display: block;
    padding: 30px 0;
    border-top: 1px solid #d7d7d7;

    .menu {
        display: flex;
        width: 100%;
        align-items: baseline;

        h3 {
            display: inline-block;
            margin-right: 50px;
            font-weight: 600;
            font-size: 1.4em;
            margin-bottom: 20px;
        }

        li {
            display: inline-block;
            margin-right: 24px;
            padding-bottom: 5px;
            font-size: 1.1em;
            border-bottom: 4px solid #000;

            span {
                font-weight: 600;

                span {
                    display: inline-flex;
                    align-items: center;
                    opacity: 0.6;
                }
            }
        }
    }

    .content {
        display: flex;
        width: 100%;
        border-radius: 8px;

        .original_content {
            width: 100%;
        }

        .review_container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;

            .inner_content {
                width: 100%;
            }

            .card {
                padding: 20px;
                border: 1px solid #e3e3e3;
                border-radius: 8px;
                box-shadow: 0 2px 8px #0000001a;
                border: 1px solid #e3e3e3;

                .grouped {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    align-content: center;

                    .info {
                        width: 100%;

                        .rating_wrapper {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: baseline;
                            justify-content: flex-start;

                            h3 {
                                display: inline-block;
                                margin-bottom: 0;
                                padding-bottom: 0;
                                font-size: 1.3em;
                                font-weight: 700;
                                cursor: pointer;

                                &:hover {
                                    color: #00000080;
                                }
                            }

                            .rounded_rating {
                                padding: 1px 8px;
                                margin-left: 14px;
                                font-size: 0.9em;
                                display: inline-flex;
                                align-items: center;
                                align-content: center;
                                justify-content: center;
                                background-color: #000;
                                border-color: #000;
                                border-radius: 8px;
                                color: #fff;
                                border: 2px solid #fff;
                                transition: linear 0.1s;

                                .star {
                                    margin-right: 2px;
                                    filter: invert(1);
                                    background-image: url("../../assets/icons/rating-star.svg");
                                    position: relative;
                                    top: 0;
                                    left: 0;
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    min-width: 1em;
                                    min-height: 1em;
                                    width: 1em;
                                    height: 1em;
                                    line-height: inherit;
                                    background-position: center center;
                                    background-repeat: no-repeat;
                                    color: inherit;
                                }
                            }
                        }

                        h5 {
                            font-weight: 300;
                            font-size: 0.9em;
                            margin-bottom: 0;

                            span {
                                font-weight: normal;
                            }
                        }
                    }
                }

                .teaser {
                    padding-left: 84px;
                    padding-top: 20px;

                    &::before {
                        clear: both;
                        content: "";
                        display: block;
                    }

                    p {
                        &:last-child {
                            margin-bottom: 0;
                            word-wrap: break-word;
                        }
                    }
                }
            }
        }
    }
}

.fallback-poster {
    transform: scale(0.5);
}

.no-image {
    background: #dbdbdb;
    border-radius: 8px;
    border: 1px solid #d7d7d7;
}
