@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("./assets/fonts/source-sans-pro-italic.woff2") format("woff2"),
    url("./assets/fonts/source-sans-pro-italic.woff2") format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./assets/fonts/source-sans-pro-300.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/source-sans-pro-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/source-sans-pro-italic.woff2") format("woff2");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./assets/fonts/source-sans-pro-600.woff2") format("woff2");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("./assets/fonts/source-sans-pro-600.woff2") format("woff2");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/source-sans-pro-700.woff2") format("woff2");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/source-sans-pro-700.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/source-sans-pro-700.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  min-height: 100vh;
  height: 100%;
  font-size: 100%;
}

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main__container {
  min-height: calc(100vh - 344.5px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  background-color: #fff;
}

* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

* ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dbdbdb;
}

img, input, button {
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

[class*="font-white"] *:not(.rating-progress *) {
  color: #fff;
}

picture {
  line-height: 0;
}

ul {
  list-style: none;
}

fieldset {
  border: 0 !important;
}

hr {
  border: 1px solid #eee;
}

.MuiAccordionSummary-root {
  min-height: 50px !important;
}

.MuiAccordionSummary-content {
  margin: 0 !important;
}

.MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  transform: rotate(90deg) !important;
}

.MuiAccordionDetails-root,
.MuiOutlinedInput-root {
  padding: 0 !important;
}

.MuiAutocomplete-inputRoot {
  height: 34px;
}

span + .MuiFormControl-root .MuiOutlinedInput-root input {
  padding: 0 0 0 35px !important;
  font-size: 14px;
}

.MuiSlider-mark {
  height: 10px !important;
  background-color: currentColor !important;
}

.MuiSelect-select.MuiSelect-outlined {
  padding: 6.5px 14px !important;
  font-size: 14px !important;
  background-color: #e4e7eb;
  color: #212529 !important;

  &:hover {
    border-color: #c7cdd5;
    background-color: #ced3db;
  }
}
