* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
  height: 100%;
}

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main__container {
  min-height: calc(100vh - 344.5px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  background-color: #fff;
}

* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

* ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dbdbdb;
}

img {
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

[class*="font-white"] *:not(.rating-progress *) {
  color: #fff;
}

ul {
  list-style: none;
}
