* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
  height: 100%;
}

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main__container {
  min-height: calc(100vh - 358.5px);
}

* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

* ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dbdbdb;
}

a {
  text-decoration: none;
}

div[class^="ViewMore_single-column"] *:not([class^="ViewMore_chart"] *) {
  color: #fff;
}

ul {
  list-style: none;
}
